body {
  background-image: linear-gradient(to bottom right, #9CBFDC, #8DC44D);
}

.heading {
  color: white;
}

.main-container {
  display: flex;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 0px auto;
}

html {
  min-height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.black-pen {
  background-color: black;
}